@model List<Product>
@{
    ViewData["Title"] = "Milk Products";
}

<div class="text-center">
    <h1 class="display-4">The Ragin' Jage Coffee Shop</h1>
    <h2>Our Milk Drink Collection</h2>
</div>

@{

    foreach (Product c in Model.Where(o => o.Category == "Milk"))
    {
        <a class="nav-link text-dark" asp-action="ProductDetails" asp-route-id="@c.Id">
            <div class="card">
                <h1>@c.Name</h1>
                <p>$@c.Price</p>
            </div>
        </a>
        <br />
    }
}