@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-method="post" asp-action="result">
        <p>Enter first name: </p>
    <input type="text" name="fName" />
        <p>Enter last name: </p>
    <input type="text" name="lName" />
        <p>Enter email: </p>
    <input type="email" name="email"/>
        <p>Enter password: </p>
    <input type="password" name="password" />

    <input type="submit" />
</form>
